.wrapper{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
}

.standard{
    width: 100%;
    height: auto;
    background-color: #f4f6f4;
}
   
.standard__content{
    width: 45%;
    padding-left: 5%;
    padding-top: 97px;
}
    
.standard__content-h5{
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    line-height: 43px;
    font-weight: 700;
    color: #212121;
}
    
.standard__text{
    float: left;
    width: 474px;
    height: 132px;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    color: #86878b;
    padding-top: 30px;
    padding-bottom: 207px;
}

/* .standard .blockGray{
    width: 55%;    
 } */

.standard .blockGray__insert{
   margin: 70px auto;     
}

@media screen and (max-width: 1024px){
    .standard > .wrapper{
        flex-direction: column-reverse;
        align-items: center;
    }

    .standard__content{
        width: 90%;
        padding-top: 60px;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-left: 0;
    }

    .standard__text{
        padding-bottom: 50px;
        width: 100%;
    }
}

@media screen and (max-width: 480px){
    .standard__text{
        padding-bottom: 80px;
    }
}