.brandbar{
    width: 100%;
    height: auto;
    background-color: #ffffff;
    border-bottom: 3px solid rgba(0,0,0,0.1);
    box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.37);
}

.brandbar .wrapper{
    justify-content: space-around;
}

.brandbar__social{
    padding-bottom: 20px;
}

.brandbar__social h5{
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: 700;
    color: #333333;
    padding-top: 20px;
    }
    
.brandbar__social p{
    width: 370px;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    color: #86878b;
    padding-top: 0px;
    padding-right: 0;
}

@media screen and (max-width: 1024px){
    .brandbar .wrapper{
        flex-direction: column;
        align-items: center;
    }

    .brandbar__social{
        text-align: center;
    }

    .brandbar__social p{
        display: none;
    }
}

@media screen and (max-width: 640px){
    .brandbar__social{
        padding-bottom: 0;
    }

    .brandbar__social h5{
        display: none;
    }

    .brandbar__social p{
        display: none;
    }
}

@media screen and (max-width: 480px){
    .brandbar .wrapper{
        flex-direction: column;
        align-items: center;
    }

    .brandbar__social{
        width: 90%;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-left: 0;
        margin: 0 auto;
    }

    .brandbar__social p{
        width: 90%;
    }
}