.contact{
    width: 100%;
    height: auto;
    background-color: #ffffff;
    padding-bottom: 100px;
}

.contact .wrapper{
    display: block;
}

.contact__forms{
    display: flex;
    justify-content: space-between;
    padding: 0 50px;
}

.contact__form_1 input{
    display: flex;
    flex-direction: column;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #bdbdbd;
    border: none;
    border-bottom: 1px solid #bdbdbd;
    width: 527px;
    height: 32px;
}
    
.contact__form_1_name{
    padding-top: 80px;
}
    
.contact__form_1_email, .contact__form_1_subject{
    padding-top: 29px;
}
    
.contact__form_2{
    display: flex;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #bdbdbd;
}
    
.contact__form_2_blok-message{
    width: 527px;
    height: 32px;
    border: none;
    border-bottom: 1px solid #bdbdbd;
    margin-top: 97px;
}
    
.contact__form_2_blok-title{
    padding-top: 91px;
}

.contact__buttons{
    display: flex;
    justify-content: center;
}
    
.contact__btn{
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    font-weight: 600;
    color: #ffffff;
    background-color: #ff8b37;
    width: 148px;
    height: 46px;
    border-radius: 4px;
    margin-top: 42px;
    border:none;
}

@media screen and (max-width: 1239px){
    .contact__form_1 input{
        width: 450px;
    }

    .contact__form_2_blok-message{
        width: 450px;
    }
}

@media screen and (max-width: 1080px){
    .contact__forms{
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (max-width: 640px){
    .contact{
        padding-bottom: 50px;
    }

    .contact__form_1{
        width: 90%;
    }

    .contact__form_1 input{
        width: 100%;
    }

    .contact__form_2{
        width: 90%;
    }

    .contact__form_2_blok{
        width: 100%;
    }

    .contact__form_2_blok-message{
        width: 100%;
    }
}

@media screen and (max-width: 480px){
    .contact__form_1{
        width: 100%;
    }

    .contact__form_2{
        width: 100%;
    }

    .contact__form_2_blok-title{
        padding-top: 30px;
    }

    .contact__form_2_blok-message{
        margin-top: 30px;
    }
}