.HeaderText{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.HeaderText h1::after{
    content: "";
    display: block;
    width: 64px;
    height: 2px;
    background: #ff8b38;
    margin: 29px auto;
}

.HeaderText h1{
    font-family: Raleway;
    font-size: 36px;
    font-weight: 400;
    color: #212121;
    padding-top: 108px;
}

.HeaderText p{
    font-family: Open Sans;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    color: #86878b;
}

@media screen and (max-width: 768px){
    .HeaderText h1{
        padding-top: 50px;
    }

}

@media screen and (max-width: 768px){
    .HeaderText h1{
        width: 90%;
        text-align: center;
    }
}

@media screen and (max-width: 480px){
    .HeaderText h1{
        width: 90%;
        text-align: center;
    }

    .HeaderText p{
        width: 90%;
        text-align: center;
    }
}
