.pricing__block{
    display: flex;
    flex-direction: column;
}

.pricing__block_header{
    width: 343px;
    height: 59px;
    background-color: #343334;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #fff;
}

.pricing__block_header h5{
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
    color: #ffffff;
    text-align: center;
    padding-top: 18px;
}

.pricing__block_price{
    text-align: center;
    width: 343px;
    height: auto;
    margin-bottom: -1px;
    background-color: #343334;
}

.pricing__block_price img{
    padding-top: 30px;
}

.pricing__block_text{
    padding-top: 20px;
    width: 343px;
    height: 51px;
    background-color: #343334;
}

.pricing__block_text h6{
    opacity: 0.5;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-style: italic;
    line-height: 24px;
    font-weight: 600;
    color: #ffffff;
    padding-top: 8px;
    text-align: center;
}

.pricing__block_list > li{
    list-style: none;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	line-height: 24px;
	font-weight: 400;
	text-transform: uppercase;
	color: #86878b;
	text-align: center;
	height: 30px;
	background-color: #fff;
	box-shadow:  0px 1px 0px 0px rgba(0,0,0,0.15);
	border-bottom: 1px solid #f5f5f5;
	padding-top: 10px;
}

@media screen and (max-width: 1239px){
    .pricing__block{
        align-items: center;
        padding-top: 50px;
    }

    .pricing__block_header{
        width: 50%;
        text-align: center;
    }

    .pricing__block_price{
        width: 50%;
        text-align: center;
    }

    .pricing__block_text{
        width: 50%;
        text-align: center;
    }

    .pricing__block_list{
        width: 50%;
    }
}

@media screen and (max-width: 768px){
    .pricing__block_header{
        width: 70%;
        text-align: center;
    }

    .pricing__block_price{
        width: 70%;
        text-align: center;
    }

    .pricing__block_text{
        width: 70%;
        text-align: center;
    }

    .pricing__block_list{
        width: 70%;
    }
}

@media screen and (max-width: 480px){
    .pricing__block_header{
        width: 100%;
        text-align: center;
    }

    .pricing__block_price{
        width: 100%;
        text-align: center;
    }

    .pricing__block_text{
        width: 100%;
        text-align: center;
    }

    .pricing__block_list{
        width: 100%;
    }
}