.testimonials{
    width: 100%;
    height: auto;
    background-color: #fff;
    padding-bottom: 100px;
}

.testimonials__content{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.testimonials__blocks{
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 55px;
    flex-wrap: wrap;
}
    
.testimonials__blocks h6{
    font-family: 'Open Sans', sans-serif ;
    font-size: 20px;
    font-weight: 700;
    color: #333333;
    padding-top: 15px;
}
    
.testimonials__blocks p{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #86878b;
    padding-top: 8px;
}

@media screen and (max-width: 768px){
    .testimonials{
        padding-bottom: 50px;
    }

    .testimonials__blocks{
        padding-top: 30px;
    }
}